@{
    ViewBag.Title = "Prospectos";
}
@model Enkontrol.Web.Models.ListasOpciones

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" type="text/css" />
<script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<div style="padding-left:10px;">
    <!--Filtro de busqueda-->
    <div class="jumbotron" data-pages="parallax">
        <div class="container-fluid container-fixed-lg col-sm-pull-12">
            <div class="col-lg-12">
                <div class="col-md-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="filtro" name="filtro" class="form-control" placeholder="Ingrese nombre de prospecto" />
                </div>
                <div class="col-md-3">
                    <label for="Genero">Genero</label>
                    @Html.DropDownListFor(a => a.Genero, (IEnumerable<SelectListItem>)ViewBag.Genero, new { @id = "Genero", @class = "form-control", @width = "40%" })
                </div>
                <div class="col-md-3">
                    <label for="EstadoCivil">Estado Civil</label>
                    @Html.DropDownListFor(a => a.EstadoCivil, (IEnumerable<SelectListItem>)ViewBag.EstadoCivil, new { @id = "EstadoCivil", @class = "form-control", @width = "40%" })
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" onclick="cargarGrid()"
                            type="button">
                        Buscar
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn btn-primary" onclick="abrirModalInsertar()"
                            type="button">
                        Nuevo
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Grid de carga de información-->
    <div id="grid">
        @Html.Action("_GridView")
    </div>
</div>
<div class="modal fade" id="modalInsertar" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="frmNuevoProspecto" enctype="multipart/form-data" onsubmit="EnvioDatos(this, event)">
                <div class="modal-header" style="text-align:center;">
                    <h3><b>Ingrese la información del nuevo prospecto</b></h3>
                </div>
                <div class="modal-body">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nombre(s)</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="nombres"><span class="fa fa-key"></span></span>
                                        <input type="text" class="form-control" id="nombres" maxlength="50" name="nombres" placeholder="Nombre(s)" required><br />
                                    </div>
                                    <span hidden id="nombreRequired" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Apellido Paterno</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="apellidopaterno"><span class="fa fa-key"></span></span>
                                        <input type="text" class="form-control" id="apellidopaterno" maxlength="50" name="apellidopaterno" placeholder="Apellido Paterno" required><br />
                                    </div>
                                    <span hidden id="paternoRequired1" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Apellido Materno</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="apellidomaterno"><span class="fa fa-key"></span></span>
                                        <input type="text" class="form-control" id="apellidomaterno" maxlength="50" name="apellidomaterno" placeholder="Apellido Materno" required><br />
                                    </div>
                                    <span hidden id="maternoRequired1" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label>Fecha Nacimiento</label>
                                    <div class="input-group text-center">
                                        <span class="input-group-addon" title="fechanacimiento"><span class="fa fa-key"></span></span>
                                        <input type="date" class="form-control" id="fechanacimiento" name="fechanacimiento" required><br />
                                    </div>
                                    <span hidden id="fechaRequired1" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Telefono Movil</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="telefono"><span class="fa fa-money"></span></span>
                                        <input type="text" class="form-control" id="telefono" name="telefono" pattern="^[0-9]+\.?[0-9]*$" required><br />
                                    </div>
                                    <span hidden id="telefonoRequired1" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="email"><span class="fa fa-money"></span></span>
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" maxlength="50" required><br />
                                    </div>
                                    <span hidden id="emailRequired2" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Genero</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="genero"><span class="fa fa-calendar"></span></span>
                                        @Html.DropDownListFor(x => x.Genero, (IEnumerable<SelectListItem>)ViewBag.Genero, new { @id = "GeneroNuevo", @class = "form-control" })
                                    </div>
                                    <span hidden id="generoRequired" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Estado Civil</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="estado"><span class="fa fa-plus-square"></span></span>
                                        @Html.DropDownListFor(a => a.EstadoCivil, (IEnumerable<SelectListItem>)ViewBag.EstadoCivil, new { @id = "EstadoCivilNuevo", @class = "form-control" })
                                        <span hidden id="estadoRequired" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12">
                        <div class="text-center">
                            <div class="col-xs-12 col-md-6">
                                <button type="button" class="btn btn-default" style="width:110px;" data-dismiss="modal">Cancelar</button>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <button class="btn btn-success" style="width:110px;" type="button" onclick="AgregarNuevoProspecto()">Insertar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal Consulta-->
<div class="modal fade" id="modalConsulta" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="frmConsulta" enctype="multipart/form-data">
                <div class="modal-header" style="text-align:center;">
                    <h3><b>Información Prospecto</b></h3>
                </div>
                <div class="modal-body">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>ID</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="idconsulta"><span class="fa fa-key"></span></span>
                                        <input type="text" class="form-control" id="idconsulta" maxlength="50" name="idconsulta" placeholder="ID" disabled required><br />
                                    </div>
                                    <span hidden id="nombreRequired" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Nombre(s)</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="nombres"><span class="fa fa-key"></span></span>
                                        <input type="text" class="form-control" id="nombresconsulta" maxlength="50" name="nombresconsulta" placeholder="Nombre(s)" required><br />
                                    </div>
                                    <span hidden id="nombreRequired" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Apellido Paterno</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="apellidopaterno"><span class="fa fa-key"></span></span>
                                        <input type="text" class="form-control" id="apellidopaternoconsulta" maxlength="50" name="apellidopaternoconsulta" placeholder="Apellido Paterno" required><br />
                                    </div>
                                    <span hidden id="paternoRequired1" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Apellido Materno</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="apellidomaterno"><span class="fa fa-key"></span></span>
                                        <input type="text" class="form-control" id="apellidomaternoconsulta" maxlength="50" name="apellidomaternoconsulta" placeholder="Apellido Materno" required><br />
                                    </div>
                                    <span hidden id="maternoRequired1" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label>Fecha Nacimiento</label>
                                    <div class="input-group text-center">
                                        <span class="input-group-addon" title="fechanacimiento"><span class="fa fa-key"></span></span>
                                        <input type="date" class="form-control" id="fechanacimientoconsuta" name="fechanacimientoconsulta" required><br />
                                    </div>
                                    <span hidden id="fechaRequired1" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Telefono Movil</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="telefono"><span class="fa fa-money"></span></span>
                                        <input type="text" class="form-control" id="telefonoconsulta" name="telefonoconsulta" pattern="^[0-9]+\.?[0-9]*$" required><br />
                                    </div>
                                    <span hidden id="telefonoRequired1" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="email"><span class="fa fa-money"></span></span>
                                        <input type="text" class="form-control" id="emailconsulta" name="emailconsulta" placeholder="Email" maxlength="50" required><br />
                                    </div>
                                    <span hidden id="emailRequired2" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Genero</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="genero"><span class="fa fa-calendar"></span></span>
                                        @Html.DropDownListFor(x => x.Genero, (IEnumerable<SelectListItem>)ViewBag.Genero, new { @id = "generoconsulta", @class = "form-control" })
                                    </div>
                                    <span hidden id="generoRequired" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Estado Civil</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" title="estado"><span class="fa fa-plus-square"></span></span>
                                        @Html.DropDownListFor(a => a.EstadoCivil, (IEnumerable<SelectListItem>)ViewBag.EstadoCivil, new { @id = "estadocivilconsulta", @class = "form-control" })
                                        <span hidden id="estadoRequired" class="alert alert-danger alert-dismissible" style="padding:2px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12">
                        <div class="text-center">
                            <div class="col-xs-12 col-md-4">
                                <button type="button" class="btn btn-default" style="width:110px;" data-dismiss="modal">Cancelar</button>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <button class="btn btn-danger" style="width:110px;" type="button" onclick="EliminarProspecto()">Eliminar</button>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <button class="btn btn-primary" style="width:110px;" type="button" onclick="ActualizarProspecto()">Modificar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tblReg').DataTable();
    });

    function abrirModalInsertar() {
    limpiarmodal();
    $('#modalInsertar').modal();
}

function mostarmodalconsulta(Id) {
    limpiarmodalconsulta();

    var formData = new FormData();
    formData.append('Id', Id);

    url = "@Url.Content("~/Home/ConsultarProspectoId")"
    $.ajax({
        url: url,
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function (data) {
            console.log(data);
            if (data.Success == true) {

                $("#idconsulta").val(data.Info.Id);
                $("#nombresconsulta").val(data.Info.cNombre);
                $("#apellidopaternoconsulta").val(data.Info.cApellidoPaterno);
                $("#apellidomaternoconsulta").val(data.Info.cApellidoMaterno);
                $("#fechanacimientoconsuta").val('');
                $("#telefonoconsulta").val(data.Info.cTelefonoMovil);
                $("#emailconsulta").val(data.Info.cEmail);
                $("#generoconsulta").val(data.Info.Genero);
                $("#estadocivilconsulta").val(data.Info.EstadoCivil);
                $('#modalConsulta').modal();
            } else {
                Swal.fire({
                    icon: 'Error',
                    title: 'Consulta Prospecto',
                    text: data.Message
                });
            }
        }
    });
}

function limpiarmodal() {
    $("#nombres").val("");
    $("#apellidopaterno").val("");
    $("#apellidomaterno").val("");
    $("#fechanacimiento").val("");
    $("#telefono").val("");
    $("#email").val("");
    $("#GeneroNuevo").val("-- Genero --");
    $("#EstadoCivilNuevo").val("-- Estado Civil --");
}

function limpiarmodalconsulta() {
    $("#idconsulta").val("");
    $("#nombresconsulta").val("");
    $("#apellidopaternoconsulta").val("");
    $("#apellidomaternoconsulta").val("");
    $("#fechanacimientoconsuta").val("");
    $("#telefonoconsulta").val("");
    $("#emailconsulta").val("");
    $("#generoconsulta").val("-- Genero --");
    $("#estadocivilconsulta").val("-- Estado Civil --");
}

function AgregarNuevoProspecto() {
    Swal.fire({
        title: '¿Deseas guardar el nuevo prospecto en la BD?',
        showCancelButton: true,
        confirmButtonText: 'Guardar',
    }).then((result) => {
        if (result.isConfirmed) {

            var json = obtenerdatosformularionuevo();

            var formDataRes = new FormData();
            formDataRes.append('jsonnuevoprospecto', json);

            url = "@Url.Content("~/Home/NuevoProspecto")"
            $.ajax({
                url: url,
                type: 'POST',
                data: formDataRes,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data);
                    if (data.Success == false) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.Message
                        });
                    } else {
                        Swal.fire({
                            icon: 'info',
                            title: 'Registro Prospecto',
                            text: data.Message
                        });
                        cargarGrid();
                    }
                },
                beforeSend: function () {
                    $("#modalInsertar").modal('hide');
                }
            });
        } else if (result.isDenied) {
            Swal.fire('No se registro el prospecto', '', 'info')
        }
    });
}

function EnvioDatos(f, e) {
    Swal.fire({
        title: '¿Desea ingresar a la BD el nuevo prospecto?',
        showCancelButton: true,
        confirmButtonText: 'Guardar',
    }).then((result) => {
        if (result.isConfirmed) {
            e.preventDefault();

            var datosFormGuardar = stringToObject(serialize(f, e));
            var odtJSON = JSON.stringify(datosFormGuardar);
            var formData = new FormData();
            formData.append('nuevoprospectoJSON', odtJSON);
        }
    });
};

function obtenerdatosformularionuevo() {
    var formData = new FormData();
    formData.append('cNombre', $("#nombres").val());
    formData.append('cApellidoPaterno', $("#apellidopaterno").val());
    formData.append('cApellidoMaterno', $("#apellidomaterno").val());
    formData.append('dtFechaNacimiento', $("#fechanacimiento").val());
    formData.append('cTelefonoMovil', $("#telefono").val());
    formData.append('cEmail', $("#email").val());
    formData.append('Genero', $("#GeneroNuevo").val());
    formData.append('EstadoCivil', $("#EstadoCivilNuevo").val());

    var object = {};
    formData.forEach((value, key) => object[key] = value);
    var json = JSON.stringify(object);
    return json;
}

function cargarGrid() {

    var formData = new FormData();
    formData.append('filtro', $("#filtro").val());
    formData.append('gen', $("#Genero").val());
    formData.append('estadocivil', $("#EstadoCivil").val());

    url = "@Url.Content("~/Home/_GridView")"
    $.ajax({
        url: url,
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function (data) {
            $("#grid").html(data);
        }
    });

    $("#filtro").val("");
    $("#Genero").val("0");
    $("#EstadoCivil").val("0");
}

function ActualizarProspecto() {
    Swal.fire({
        title: '¿Deseas actualizar la información del prospecto en la BD?',
        showCancelButton: true,
        confirmButtonText: 'Actualizar',
    }).then((result) => {
        if (result.isConfirmed) {

            var json = obtenerdatosformularioactualizar();

            var formData = new FormData();
            formData.append('jsonactualizar', json);

            url = "@Url.Content("~/Home/ActualizarProspectoId")"
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data);
                    if (data.Success == true) {
                        Swal.fire({
                            icon: 'info',
                            title: 'Actualizar Prospecto',
                            text: data.Message
                        });
                        limpiarmodalconsulta();
                        cargarGrid();
                    } else {
                        Swal.fire({
                            icon: 'Error',
                            title: 'Actualizar Prospecto',
                            text: data.Message
                        });
                        limpiarmodalconsulta();
                    }
                },
                beforeSend: function () {
                    $("#modalConsulta").modal('hide');
                }
            });
        } else if (result.isDenied) {
            Swal.fire('No se actualizo el prospecto', '', 'info')
        }
    });
}

function EliminarProspecto() {
    Swal.fire({
        title: '¿Deseas eliminar el prospecto en la BD?',
        showCancelButton: true,
        confirmButtonText: 'Eliminar',
    }).then((result) => {
        if (result.isConfirmed) {

            var formData = new FormData();
            formData.append('Id', $("#idconsulta").val());

            url = "@Url.Content("~/Home/EliminarProspectoId")"
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data);
                    if (data.Success == true) {
                        Swal.fire({
                            icon: 'info',
                            title: 'Eliminar Prospecto',
                            text: data.Message
                        });
                        limpiarmodalconsulta();
                        cargarGrid();
                    } else {
                        Swal.fire({
                            icon: 'Error',
                            title: 'Eliminar Prospecto',
                            text: data.Message
                        });
                        limpiarmodalconsulta();
                    }
                },
                beforeSend: function () {
                    $("#modalConsulta").modal('hide');
                }
            });
        } else if (result.isDenied) {
            Swal.fire('No se elimino el prospecto', '', 'info')
        }
    });
}

function obtenerdatosformularioactualizar() {
    var formData = new FormData();
    formData.append('Id', $("#idconsulta").val());
    formData.append('cNombre', $("#nombresconsulta").val());
    formData.append('cApellidoPaterno', $("#apellidopaternoconsulta").val());
    formData.append('cApellidoMaterno', $("#apellidomaternoconsulta").val());
    formData.append('dtFechaNacimiento', $("#fechanacimientoconsuta").val());
    formData.append('cTelefonoMovil', $("#telefonoconsulta").val());
    formData.append('cEmail', $("#emailconsulta").val());
    formData.append('Genero', $("#generoconsulta").val());
    formData.append('EstadoCivil', $("#estadocivilconsulta").val());

    var object = {};
    formData.forEach((value, key) => object[key] = value);
    var json = JSON.stringify(object);
    return json;
}
</script>
